<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />-->

    <!-- 配置数据库连接 -->


    <context id="DB2Tables" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/gymms"
                        userId="root"
                        password="1234">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!--指定 java bean 生成的位置-->
        <javaModelGenerator targetPackage="com.yuerbao.gymms.match.model"
                            targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!--指定 xxxMapper.xml 生成的位置-->
        <sqlMapGenerator targetPackage="com.yuerbao.gymms.match"
                         targetProject=".\src\main\resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!--指定 XxxMapper.java 生成的位置-->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.yuerbao.gymms.match.mapper"
                             targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--指定每个表的生成策略-->
        <table tableName="tb_match" domainObjectName="Match"></table>
        <table tableName="tb_match_booking" domainObjectName="MatchBooking"></table>
        <table tableName="tb_match_plan" domainObjectName="MatchPlan"></table>
        <table tableName="tb_match_plan_qc" domainObjectName="MatchQicai"></table>
        <table tableName="tb_match_plan_cd" domainObjectName="MatchChangdi"></table>



    </context>
</generatorConfiguration>
