<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuerbao.gymms.user.mapper.UserMapper">



    <!--根据用户id返回用户-->

    <select id="findUserById" parameterType="int" resultType="com.yuerbao.gymms.user.model.User">
        SELECT * FROM user WHERE uId = #{uId}
    </select>

    <!--插入一条数据-->
    <insert id="register"  parameterType="com.yuerbao.gymms.user.model.User" >
        
        insert into user (uName,uPassword,uEmail,uStudentId,uPhone,status) values('${uName}',${uPassword},'${uEmail}',${uStudentId},${uPhone},0);
        
    </insert>
<!--查询所有的用户-->
    <select id="findAll"  resultType="com.yuerbao.gymms.user.model.User">
         SELECT  * FROM  user
    </select>

    <!--根据账号密码查询用户-->
    <select id="findUser" parameterType="com.yuerbao.gymms.user.model.User" resultType="com.yuerbao.gymms.user.model.User">
        SELECT  * FROM user WHERE  uName=${uName} AND  uPassword = ${uPassword}
    </select>

    <!--<resultMap id="userResultMap" type="com.springmybatis.model.User">-->
    <!--<id property="id" column="id"/>-->
    <!--<result property="user_name" column="user_name"/>-->
    <!--<result property="password" column="password" />-->
    <!--<result property="age" column="age"/>-->
    <!--</resultMap>-->

</mapper>